<!doctype html>
<title>Image Classifier Processing</title>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js">
    </script>
    <title>Image Classifier</title>
</head>

<div id='container'>
    {%if is_get %}
    <h1>Upload test images -></h1>
    <form method=post enctype=multipart/form-data action='/'>
        <input type=file name=file multiple>
        <input type=submit value=Upload>
    </form>
    {% else %}
    <h1>Uploading of {{num_images}} valid images completed, please wait on results... </h1>
    {% endif %}
</div>
<p id='info'>Establishing connection with server...</p>

<script type="text/javascript" src="{{ url_for('static', filename='js/socketio_client.js') }}" charset="utf-8">
</script>
