<!doctype html>
<title>Image Classifier Processing</title>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
    <link rel="stylesheet" type="texts/css" href="static/css/style.css">
    <title>Image Classifier</title>
</head>
<style>
    .container {
        background-color: aliceblue;
    }
    
    .header {
        height: 20%;
    }
</style>
/*
<!--
<div class="container" style={bac}>
    <div class="header">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
</div> -->*/

<div id='container'>
    {%if is_get %}
    <h1>Upload test images -></h1>
    <h3>Only supports images with extensions in jpeg, jpg and png</h3>
    <form method=post enctype=multipart/form-data action='/'>
        <input type=file name=file multiple>
        <input type=submit value=Upload>
    </form>
    {% else %}
    <h3>
        Upload Successful...
    </h3>
    <h3>
        {{num_images}} / {{num_recieved}} were valid images, please wait on results...
    </h3>
    {% endif %}
</div>
<p id='info'>Establishing connection with server...</p>

<script type="text/javascript" src="{{ url_for('static', filename='js/socketio_client.js') }}" charset="utf-8">
</script>