html{
    background-color: #F1FAEE;
}
#results {
    display: flex;
    flex-flow: column nowrap;
    /* background-color: rgba(112, 190, 235, 0.527); */
    padding: 10px;
}

#container{
    /* background-color: #A8DADC; */
}

header{
    background-color: #A8DADC;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-direction: column;
}

.align-center{
    align-self: center;
}

.align-left{
    align-self: flex-end;
}

.log-container{
    display: flex;
    justify-content: space-between;
    flex: 1 1 10px;
}

.inline {
    display: inline;
    padding: 0px 10px;
    margin: 0px 10px;
    /* background-color: rgba(10, 126, 194, 0.527); */
}

.mainflex {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    padding-bottom: 15px;
    width: 100%
}

.logflex {
    display: flex;
    flex-flow: column wrap;
    padding-left: 20px;
}

.mid-flex-left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 60%;
}

.mid-flex-right {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 40%;
}

.bottom-border {
    border-bottom: 1px solid black;
}